<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notewall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pinwall copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E15F52B1C83A0BC00E852FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E64D6E21C515BE1001CF659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E64D6F61C515BE2001CF659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E64D7011C515BE2001CF659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
